.styleH {
    font-weight: 700;
    font-size: 22px;
    line-height: 33px;
    color: #2D2E46;
}
.styleP {
    color: #2D2E46;
    opacity: 0.5;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
}
.styleD {
    color: #2D2E46;
    opacity: 0.5;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    display: flex;
    justify-content: center;
    text-align: left;
}
.styleLabel {
    margin-bottom: 60px;
    margin-top: 20px;
}
.signUp {
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #21268F;
    text-decoration: none;
}
.forgotPassword {
    width: 101px;
    height: 17px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-decoration: none;
    color: #2D2E46;
}

.container {
    text-align: center;
    margin-top: 54px;
}