.itemLink{
    align-items: center;
    background: #ebe0e9;
    color: #2d2e46;
    display: flex;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: .4px;
    line-height: 16px;
    padding: 5px 20px;
    text-align: center;
    text-decoration: none;
}

.itemLink.active {
    background: #DCCCDB;
    position: relative;
    text-align: center;
}

.itemLink.active::after {
    background: #07fa0b;
    bottom: 0;
    content: '';
    height: 3px;
    left: 0;
    position: absolute;
    width: 100%;
}
