.header {
    display: flex;
    justify-content: center;
    background: #ebe0e9;
    border-radius: 5px;
    height: 60px;
    margin-left: auto;
    width: 100%;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}